@using Google.Apis.Calendar.v3.Data

<li data-role="divider" class="popup-header">Förmiddag</li>

@{
    var events = System.Web.HttpContext.Current.Session["Events"] as IList<Event>;

    //Adds content dynamically
    foreach(var bookingEvent in events) {
    <li>
        <a href="#" class="popup-header">@bookingEvent.Location</a>
    </li>
    }
}
<script>
    $(document).ready(function () {
        $("#popup-listview").listview('refresh');
        $("#popupMenu").popup("open", {
            positionTo: "window",
            transition: "pop"
        });
    });
</script>

