@using System.Globalization
@model Moridge.Models.DriverModel

@{
    ViewBag.Title = "Driver Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

@Html.ValidationSummary()

<ul data-role="listview" data-theme="d" data-divider-theme="d" class="ui-listview">

    @{
        var days = new List<DateTime>();
        var daysInWeek = Enum.GetNames(typeof(DayOfWeek)).Length;
        for (var i = 0; i < daysInWeek; i++)
        {
            days.Add(DateTime.Now.AddDays(i));
        }
        //TODO skippa helg?
    }

    @foreach (var day in days)
    {
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
            @day.DayOfWeek, @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@day.ToString("MMMM d, yyyy"))
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span>
        </li>

            
        var times = new[] { "Förmiddag", "Eftermiddag" };
        foreach (var time in times)
        {
        <li class="ui-btn-icon-right">
            <div class="ui-btn-inner">
                <a class="ui-link-inherit" href="#popupMenu" data-rel="popup" data-position-to="origin" data-inline="true" data-transition="pop">
                    <p class="ui-li-aside ui-li-desc">
                        <strong class="black-link">
                            @time
                        </strong>
                    </p>
                    <h3 class="ui-li-heading black-link">3 av 4 bokningar</h3>
                    <p class="ui-li-desc black-link">Vad ska det stå här?</p>
                </a>
                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
            </div>
        </li>
        }
    }
</ul>

<div class="ui-screen-hidden ui-popup-screen" id="popupMenu-screen"></div>
<div class="ui-popup-container ui-selectmenu-hidden" id="popupMenu-popup">
    <div data-role="popup" id="popupMenu">
        <ul data-role="listview" data-inset="true" style="min-width: 210px;" data-theme="b">
            <li data-role="divider" data-theme="a" class="popup-header">Förmiddag</li>

            @{
                //TODO use real value
                const int bookingsForThisDay = 4;
                for (var i = 0; i < bookingsForThisDay; i++)
                {
                <li data-theme="b" class="ui-btn-icon-right">
                    <div class="ui-btn-inner">
                        <div class="ui-btn-text popup_item">
                            <a href=""
                                class="ui-link-inherit" data-ytta-id="-">Grankottevägen 55</a>
                        </div>
                        <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                    </div>
                </li>
                }
            }
        </ul>
    </div>
</div>

<div data-role="footer" data-theme="b" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="#"><span>
                <i class="material-icons">assignment</i>
                <span style="font-size: 12px; display: block;">Boka</span>
            </span></a></li>
            <li><a href="#"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
            <li><a href="#"><span>
                <i class="material-icons">account_box</i>
                <span style="font-size: 12px; display: block;">Redigera Info</span>
            </span></a></li>
        </ul>
    </div>
</div>

