@model Moridge.Models.DriverModel

@{
    ViewBag.Title = "Driver Page";
}

<p>
    You are a driver.
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
        }

        .ui-li-heading {
            font-size: 70%;
        }

        .ui-li-desc {
            font-size: 60%;
        }
    </style>

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Måndag den 1235 2016
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span>
        </li>
        <li data-theme="d">
            <table>
                <tr>
                    <td>
                        <div class="ui-btn ui-li ui-btn-up-d ui-btn-corner-all"
                            data-theme="d" data-shadow="true" data-iconshadow="true" data-wrapperels="div">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <a href="" class="ui-link-inherit" data-ytta-id="-">
                                    <h3 class="ui-li-heading">3 av 4 bokningar</h3>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Tom</p>
                                </a>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="ui-btn ui-li ui-btn-up-d ui-btn-corner-all"
                            data-theme="d" data-shadow="true" data-iconshadow="true" data-wrapperels="div">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <a href="" class="ui-link-inherit" data-ytta-id="-">
                                    <h3 class="ui-li-heading">4 av 5 bokningar</h3>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Tom</p>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li data-role="list-divider">Tisdag den 1235 2016
            <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span>
        </li>
          <li data-theme="d">
            <table>
                <tr>
                    <td>
                        <div class="ui-btn ui-li ui-btn-up-d ui-btn-corner-all"
                            data-theme="d" data-shadow="true" data-iconshadow="true" data-wrapperels="div">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <a href="" class="ui-link-inherit" data-ytta-id="-">
                                    <h3 class="ui-li-heading">4 av 5 bokningar</h3>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Tom</p>
                                </a>
                            </span>
                        </div>
                    </td>
                    <td>
                        <div class="ui-btn ui-li ui-btn-up-d ui-btn-corner-all"
                            data-theme="d" data-shadow="true" data-iconshadow="true" data-wrapperels="div">
                            <span class="ui-btn-inner ui-btn-corner-all">
                                <a href="" class="ui-link-inherit" data-ytta-id="-">
                                    <h3 class="ui-li-heading">4 av 5 bokningar</h3>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Grankottevägen 55</p>
                                    <p class="ui-li-desc">Tom</p>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </li>

        <li data-role="fieldcontain"></li>

        <li data-role="fieldcontain">
            <input type="submit" value="Log in" />
        </li>
    </ul>
}