@using System.Globalization
@model Moridge.Models.DriverModel

@{
    ViewBag.Title = "Driver Page";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <style>
        .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
            padding: 0.5% 1% 0.5% 5px;
        }
    </style>

    <ul data-role="listview" data-theme="d" data-divider-theme="d" class="ui-listview">

        @{
    var days = new List<DateTime>();
    var daysInWeek = Enum.GetNames(typeof(DayOfWeek)).Length;
    for (var i = 0; i < daysInWeek; i++)
    {
        days.Add(DateTime.Now.AddDays(i));
    }
    //TODO skippa helg?
        }

        @foreach (var day in days)
        {
            <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">
                @day.DayOfWeek, @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@day.ToString("MMMM d, yyyy"))
                <span class="ui-li-count ui-btn-up-c ui-btn-corner-all">2</span>
            </li>

            //Förmiddag
            <li class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li"
                data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a class="ui-link-inherit" href="#popupMenu" data-rel="popup" data-position-to="window" data-inline="true" data-transition="pop">
                            <p class="ui-li-aside ui-li-desc">
                                <strong>Förmiddag</strong>
                            </p>
                            <h3 class="ui-li-heading">3 av 4 bokningar</h3>
                            <p class="ui-li-desc">Vad ska det stå här?</p>
                            <p class="ui-li-desc">rad2</p>
                        </a>
                    </div>
                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
            //Eftermiddag
            <li class="ui-btn ui-btn-up-d ui-btn-icon-right ui-li-has-arrow ui-li"
                data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="d">
                <div class="ui-btn-inner ui-li">
                    <div class="ui-btn-text">
                        <a class="ui-link-inherit" href="#popupMenu" data-rel="popup" data-position-to="window" data-inline="true" data-transition="pop">
                            <p class="ui-li-aside ui-li-desc">
                                <strong>Eftermiddag</strong>
                            </p>
                            <h3 class="ui-li-heading ui-link-inherit">3 av 4 bokningar</h3>
                            <p class="ui-li-desc">Vad ska det stå här?</p>
                            <p class="ui-li-desc">rad2</p>
                        </a>
                    </div>
                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                </div>
            </li>
        }
    </ul>
    
    <div class="ui-screen-hidden ui-popup-screen" id="popupMenu-screen"></div>
    <div class="ui-popup-container ui-selectmenu-hidden" id="popupMenu-popup">
        <div data-role="popup" id="popupMenu" data-theme="a"
             class="ui-popup ui-body-a ui-overlay-shadow ui-corner-all"
            aria-disabled="false" data-disabled="false" data-shadow="true" data-corners="true" data-transition="none" data-position-to="origin">
            <ul data-role="listview" data-inset="true" style="min-width: 210px;" data-theme="b"
                class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                <li data-role="divider" data-theme="a" class="ui-li ui-li-static ui-btn-up-a ui-corner-top">Förmiddag</li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="b"
                    class="ui-btn ui-btn-up-b ui-btn-icon-right ui-li-has-arrow ui-li">
                    <div class="ui-btn-inner ui-li">
                        <div class="ui-btn-text">
                            <a href=""
                                class="ui-link-inherit" data-ytta-id="-">Grankottevägen 55</a>
                        </div>
                        <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}