@model Moridge.Models.PersonalInfoModel

@{
    ViewBag.Title = "Driver Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
<script>
    $(document).ready(function () {
        setBackButton();
    });
</script>
@Html.ValidationSummary()
hejsan :)

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Booking", "Driver")" data-transition="slide" data-direction="reverse"><span>
                <i class="material-icons">assignment</i>
                <span style="font-size: 12px; display: block;">Boka</span>
            </span></a>
            </li>
            <li><a href="@Url.Action("Schedule", "Driver")" data-transition="slide" data-direction="reverse"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
        </ul>
    </div>
</div>
