@model Moridge.Models.ScheduleModel

@{
    ViewBag.Title = Model.GetTitle();
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />
<script>
    $(":jqmData(role=page)").bind("pagebeforeshow", function () {
        setSideBar();

    });
    $(document).ready(function () {
        setPageIndicator(2);
        $('.header-btn-right').show();
    });
</script>

@Html.ValidationSummary()


<ul data-role="listview" class="ui-listview">

    @foreach (var day in Model.GetDays())
    {
        <li class="list-item">
            <div class="ui-grid-c">
                <div class="ui-block-a">
                    <div class="ui-bar ui-bar-c bar-item" style="height: 60px">
                        <h1>@day.DayOfWeek</h1>
                    </div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-bar ui-bar-c bar-item" style="height: 60px">
                        <p class="flipswitch-label">Förmiddag</p>
                        <p>Eftermiddag</p>
                    </div>
                </div>
                <div class="ui-block-c">
                    <div class="ui-bar ui-bar-c bar-item" style="height: 80px">
                        <form>
                            <select name="flip-3" data-role="flipswitch" data-mini="true">
                                <option value="off"></option>
                                <option value="on"></option>
                            </select>
                        </form>
                        <form>
                            <select name="flip-3" data-role="flipswitch" data-mini="true">
                                <option value="off"></option>
                                <option value="on"></option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="ui-block-d">
                    <div class="ui-bar ui-bar-c bar-item" style="height: 85px">
                        <input type="number" value="3" data-mini="true">
                        <input type="number" value="4" data-mini="true" >
                    </div>
                </div>
            </div>
        </li>
    }
</ul>

<div data-role="footer" data-theme="b" data-position="fixed" data-id="footer" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li><a href="@Url.Action("Booking", "Driver")" onclick="setPageIndicator(1)" data-transition="slide" data-direction="reverse"><span>
                <i class="material-icons">assignment</i>
                <span style="font-size: 12px; display: block;">Boka</span>
            </span></a>
            </li>
            <li><a href="#" class="ui-btn-active" data-transition="slide"><span>
                <i class="material-icons">event</i>
                <span style="font-size: 12px; display: block;">Arbetsschema</span>
            </span></a></li>
        </ul>
    </div>
</div>
