<link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css"/>
<a href="@Url.Action("BookingCreate", "Driver")" class="ui-btn floating-booking">
    <i class="fa fa-calendar-plus-o booking" aria-hidden="true"></i>
</a>
