@if (Request.IsAuthenticated)
{
    <a href="#nav-panel" id="nav-btn" data-icon="back" data-transition="slideup" data-iconpos="notext">Menu</a>
    @Html.ActionLink("Ange Avvikelse", "ScheduleDeviation", "Driver", null, new { @class = "ui-btn-right ui-btn ui-mini header-btn-right" })
}
else
{
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { data_icon = "gear" })
}