<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
    <ul data-role="listview" class="ui-listview sidebar-footer">
        <li><a href="http://www.moridge.com/sv-se/orebro/support/index1,10.htm" class="ui-btn">
            <i class="material-icons">info_outline</i>
            <span class="align-super">Support</span>
        </a></li>
        <li><a href="http://www.moridge.com/sv-se/orebro/moridge/index1,7.htm" class="ui-btn">
            <i class="material-icons">help_outline</i>
            <span class="align-super">Om Moridge</span>
        </a></li>
    </ul>
</div>
