<div data-role="panel" data-position-fixed="true" data-display="overlay" data-theme="b" id="nav-panel">
    <ul data-role="listview" class="ui-listview">
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">Förnamn Efternamn</li>
        <li>
            <h6>Väg 55</h6>
            <h6>kalle@kalle.se</h6>
            <h6>073-123456789</h6>
        </li>
    </ul>
    <ul data-role="listview" class="ui-listview sidebar-footer">
        <li>
            <a href="@Url.Action("PersonalInfo", "Driver")" class="ui-btn">
                <i class="material-icons">account_box</i>
                <span class="align-super">Redigera Info</span>
            </a>
        </li>
        <li><a href="http://www.moridge.com/sv-se/orebro/support/index1,10.htm" class="ui-btn">
            <i class="material-icons">info_outline</i>
            <span class="align-super">Support</span>
        </a></li>
        <li><a href="http://www.moridge.com/sv-se/orebro/moridge/index1,7.htm" class="ui-btn">
            <i class="material-icons">help_outline</i>
            <span class="align-super">Om Moridge</span>
        </a></li>
        <li>
            <a href="@Url.Action("LogOff", "Account")" class="ui-btn">
                <i class="material-icons">exit_to_app</i>
                <span class="align-super">Logga ut</span>
            </a></li>
    </ul>
</div>
