<div data-role="panel" data-position-fixed="true" data-display="push" data-theme="b" id="nav-panel">
    <ul data-role="listview" class="ui-listview sidebar-footer">
        <li>
            <a href="#" class="ui-btn" data-ytta-id="-">Support</a>
            <a href="#" class="ui-btn" data-ytta-id="-">Om Moridge</a>
            <a href="#" class="ui-btn" data-ytta-id="-">Loga ut</a>
        </li>
    </ul>
    <ul data-role="listview" class="ui-listview">
        <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d ui-li-has-count">Förnamn Efternamn</li>
        <li>
            <h6>Väg 55</h6>
            <h6>kalle@kalle.se</h6>
            <h6>073-123456789</h6>
        </li>
    </ul>
</div>
