.ui.li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 0.2% 1% 0.2% 5px;
}

.link-header {
    right: 2.5% !important;
}

.black-link {
    color: black;
}

.popup_item {
    padding: 12% 0 12% 0;
}

.popup-header {
    padding: 10% 10% 10% 10%;
}

.ui-navbar li .ui-btn .ui-btn-inner {
    padding-top: 0;
    padding-bottom: 0;
}


.sidebar-bottom {
    position: fixed !important;
    bottom: 20% !important;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    bottom: 3px;
    height: auto;
    width: 100%;
    padding: 5%;
    border: none;
}

.align-super {
    vertical-align: super;
}