.ui.li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 0.2% 1% 0.2% 5px;
}

.link-header {
    top: 2% !important;
    right: 2.5% !important;
}

.black-link {
    color: black;
}

.popup_item {
    padding: 12% 0 12% 0;
}

.popup-header {
    padding: 10% 10% 10% 10%;
}

.ui-navbar li .ui-btn .ui-btn-inner {
    padding-top: 0;
    padding-bottom: 0;
}


.sidebar-bottom {
    position: fixed !important;
    bottom: 20% !important;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    bottom: 3px;
    height: auto;
    width: 100%;
    padding: 5%;
    border: none;
}

.align-super {
    vertical-align: super;
}

.uiButton:active, .active {
    background-color: #38c !important;
    border-color: #38c !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #059 !important;
}

.bar-item {
    padding-left: 4% !important;
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}
.schedule-label {
    margin-top: 5% !important;
    margin-bottom: 34px !important;
}
.schedule-input {
    margin-top: 0 !important;
    margin-bottom: 7px !important;
}
.list-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ui-flipswitch {
    width: 4em !important;
}

.ui-flipswitch-active {
    width: 2em !important;
    padding-left: 2em !important;
}

.flipswitch-label {
    padding-bottom: 15px !important;
}

.number-input {
    height: 30px !important;
}

.ui-input-text {
    height: 28px !important;
}

.header-btn-right {
    padding: 10px 0 0 0 !important;
    background-color: #000000 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: #000000 !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

#page-indicator {
    /* you can add positioning properties here if needed */
    width: 75px;
    padding: 0 0 0 36%;
    height: 0;
}

#page-indicator a {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: #dbdbdb;
    border-radius: 10px; /* must be the same as width and height */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px #707173; /* border color */
    margin-right: 10px;
}

#page-indicator a.activeSlide {
    background: #707173; /* color when active */
}

.center-button{
  margin: 0 auto;
}
.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

#popup-listview .empty {
    font-size: 90% !important;
    color: gray !important;
}
.header-heading {
    font-size: 0.73em !important;
    height: 20px;
    width: 50%;
    margin-left: 20%!important;
    padding-top: 12px !important;
    padding-bottom: 4px !important;
}

.header-btn-right2 {
    padding-top: 2px;
    padding-bottom: 4px;
    height: 22px;
    background-color: inherit !important;
}
.popup-date {
    padding: 20px !important;
    padding-top: 0 !important;
}
.booking-delete {
    padding-top: 10px;
    display: block;
    text-align: center;
    color: #000 !important;
    font-size: 10px;
    text-decoration: none;
    margin-top: 0;
}
.floating-booking {
    position: fixed !important;
    bottom: 70px !important;
    right: 16px !important;
    background-color: #FC3 !important;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    z-index: 1000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.booking {
    font-size: 28px !important;
    color: black;
    padding-top: 0;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}