.ui.li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 0.2% 1% 0.2% 5px;
}

.link-header {
    top: 2% !important;
    right: 2.5% !important;
}

.black-link {
    color: black;
}

.popup_item {
    padding: 12% 0 12% 0;
}

.popup-header {
    padding: 10% 10% 10% 10%;
}

.ui-navbar li .ui-btn .ui-btn-inner {
    padding-top: 0;
    padding-bottom: 0;
}


.sidebar-bottom {
    position: fixed !important;
    bottom: 20% !important;
}

.sidebar-footer {
    position: absolute;
    left: 0;
    bottom: 3px;
    height: auto;
    width: 100%;
    padding: 5%;
    border: none;
}

.align-super {
    vertical-align: super;
}

.uiButton:active, .active {
    background-color: #38c !important;
    border-color: #38c !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #059 !important;
}

.bar-item {
    padding-left: 4% !important;
    padding-right: 0 !important;
}

.list-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ui-flipswitch {
    width: 4em !important;
}

.ui-flipswitch-active {
    width: 2em !important;
    padding-left: 2em !important;
}

.flipswitch-label {
    padding-bottom: 20px !important;
}

.number-input {
    height: 30px !important;
}

.ui-input-text {
    height: 28px !important;
}

.header-btn-right {
    padding: 10px 0 0 0 !important;
    background-color: #000000 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: #000000 !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

#page-indicator {
    /* you can add positioning properties here if needed */
    width: 75px; 
    padding: 0 0 0 36%;
    height: 0;
}

#page-indicator a {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: #dbdbdb;
    border-radius: 10px; /* must be the same as width and height */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px #707173; /* border color */
    margin-right: 10px;
}

#page-indicator a.activeSlide {
    background: #707173; /* color when active */
}
