@using Moridge.Models
@model DriverDetailsModel
@{
    ViewBag.Title = "Lägg till ny";
}

@section Header {
    <a href="@Url.Action("DriverRegister", "Admin")" id="nav-btn" data-icon="back" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @ViewBag.Title
    </h6>
}

@using (Html.BeginForm("DriverCreate", "Admin", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.Partial("_DriverInfoForm", Model)
}