@using Moridge.BusinessLogic
@using Moridge.Models
@model StatisticsModel
@{
    ViewBag.Title = "Statistik";
}
<link rel="stylesheet" type="text/css" href="~/Content/themes/moridge/moridge.style.css" />

@section Header {
    <a href="#nav-panel" id="nav-btn" data-icon="bars" data-transition="slideup" data-iconpos="notext">Menu</a>
    <h6 class="header-heading">
        @ViewBag.Title
    </h6>
}

<ul data-role="listview" data-inset="true" style="min-width: 210px;">
    @for (var i = 0; i < Model.BookingEvents.Count; i++)
    {
        <li>
            <span>@Html.DisplayFor(m => m.BookingEvents[i].CompanyName)</span>
            <span style="float: right">@Html.DisplayFor(m => m.BookingEvents[i].StartDateTime)</span>
        </li>
    }
</ul>
<p>
    <img src="@Url.Action("StatisticsChart", "Admin", new { index = Model.Index })" />
</p>
